* {
  direction: rtl;
  text-align: right;
}
html, body {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0px;
}
canvas {
  max-height: 300px;
}
td, th {
  min-width: min-content !important;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
}
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  max-height: 40px;
  max-height: 40px;
  max-width: 100vw;
  min-height: 40px;
  width: 100vw;
}
.content {
  display: flex;
  flex: auto;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
}
.side {
  min-width: 300px;
  overflow-y: auto;
  padding: 20px 0px;
}
.expanded {
  width: 300px;
}
.collapse {
  width: 0px;
}
.main {
  display: flex;
  flex-direction: column;
  flex: auto;
  justify-content: space-between;
  overflow-y: hidden;
}
.report {
  flex: auto;
  overflow-y: auto;
  padding: 0px 10px;
}
.data-table {
  max-height: 375px;
  overflow-x: auto;
  overflow-y: auto;
}
.card-heading {
  align-items: center;
  background: #e9ecef;
  display: flex;
  font-size: 18px;
  height: 50px;
  justify-content: space-between;
  padding: 0px 20px 0px 10px;
}
.table-nav {
  display: flex;
  align-items: center;
  direction: ltr;
}
.table-nav > .btn {
  margin-right: 10px;
}
.row {
  margin: 0px;
}
.row > div {
  margin: 0px 0px 5px 0px;
  padding: 5px;
}
.alert {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.alert-value {
  text-align: left;
  font-size: 52px;
}
.alert .fa {
  font-size: 58px;
  margin-left: 10px;
  opacity: 50%;
}
.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}